body {
  background-color: #2B2B2B;
}
nav {
  height: 75px;
    display: flex;
    align-items: center;
    background-color: #124F0D;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    justify-content: center;
    align-content: center;
}
.center a{
  margin: 30px;
  font-size: 28px;
}
.center h1 {
  font-size: 35px;
}
.center {
  text-align: center;
  display: flex;
  align-items:center;
}
li {
  list-style: none;
  justify-items: center;
}
.left {
  list-style: none;
  position: absolute;
  left: 0;
  top: 20px;
  text-align: left;

}

nav a, nav h1 {
    color: white;
    margin-right:1fr;
    padding: 5px 20px ;
}

nav a:hover {
    background-color: wheat;
}

nav a.active {
    color: olive;
    background-color: white;
}

.div {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
}

#image-container {
    display: grid;
    margin-top: 200px;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 100px);
    grid-row-gap: 240px;
    grid-column-gap: 410px;
    align-items: center;
    justify-items: center;
    height: auto;
  }
  
  figure {
    width: 450px;
    border-radius: 20px;
    border: 2px solid black;
    margin: 0;
    position: relative;
    transition: transform 0.2s ease-out;

  }
  figure:hover {
      transform: translateY(-10px);
  }
  
  img {
    border-radius: 18px;
    max-width: 100%;
    overflow: hidden;
    width: 100%;
  }
  .white-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    height: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .white-bar p {
    margin: 0;
    text-align: center;
    padding: 10px;
  }