  body {
    background-color: #2B2B2B;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  nav {
    flex-grow: 0;
    height: 75px;
    display: flex;
    align-items: center;
    background-color: #124F0D;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    position: fixed;
    top: 0;
    z-index: 1;
    right: 0;
    left: 0;
    justify-content: center;
    align-content: center;
  }
  .center a {
    margin: 30px;
    font-size: 28px;
  }
  .center h1 {
    font-size: 35px;
  }
  .center {
    text-align: center;
    display: flex;
    align-items: center;
  }
  li {
    list-style: none;
    justify-items: center;
  }
  .left {
    list-style: none;
    position: absolute;
    left: 23px;
    top: 23px;
    text-align: left;
  }
  nav a, nav h1 {
    color: white;
    margin-right: 1fr;
    padding: 5px 20px ;
  }
  nav a:hover {
    background-color: wheat;
    border-radius: 20px;
  }
  nav a.active {
    color: olive;
    background-color: white;
  }
  
  .div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
  }
  #image-container {
    display: grid;
    margin-top: 250px;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 100px);
    grid-row-gap: 240px;
    grid-column-gap: 340px;
    align-items: center;
    justify-items: center;
  }
  figure {
    width: 450px;
    border-radius: 20px;
    margin: 0;
    position: relative;
    transition: transform 0.2s ease-out;
  }

  figure p {
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 85px;
  }
  figure:hover {
    transform: translateY(-10px);
  }
  img {
    border-radius: 20px;
    border: 2px solid black;
    width: 100%;
  }

  @media only screen and (max-width: 820px) {
    nav {
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 120px;
      background-color: #124F0D;
      z-index: 1;
      overflow-x: hidden;
      transition: 0.5s;

    }
    section {
      flex-direction: column;
    }
    .center a {
      font-size: 23px;
    }
    .center h1 {
      font-size: 26px;
    }
    nav a, nav h1 {
      padding: 10px;
      display: block;
    }
  }  

  @media only screen and (max-width: 1052px) {
    .center a {
      font-size: 23px;
      margin: 20px;
    }
    .center h1 {
      font-size: 26px;
    }
    
    figure {
      width: 400px;
    }
    figure p {
      top: 25%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      text-align: center;
      font-size: 68px;
    }
    #image-container {
      grid-column-gap: 250px;
    }
    
  }

  @media only screen and (max-width: 820px) {
    #image-container {
      flex-grow: 1;
      margin-left: 150px;
      margin-right: 30px;
      margin-top: 20px;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-row-gap: 40px;
    }

  }
 

  @media only screen and (max-width: 820px) {
  figure {
    width: 325px;
  }
  figure p {
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 70px;
  }
}