nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
nav a, nav h1 {
    color: white;
    margin-right:1fr;
    padding: 5px 20px ;
}
nav a:last-child {
    margin-right: 0;
}
nav a:hover {
    background-color: wheat;
}

nav a.active {
    color: olive;
    background-color: white;
}
